/* ============================================================
                            RESET
============================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;                           /* En gros c'est jsute pour que ça s'adapte bien à tous les navigateurs */
}

body {
  overflow: hidden;
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 34vh;
  overflow: hidden;
  background: #000;
}

.video-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max(100vw, 177.78vh);
  height: max(34vh, calc(100vw * 9 / 16));
  transform: translate(-50%, -50%) scale(1.05);
  border: none;
}